<div class=e3_213>
    <div class=e3_217><span class="e3_218">Person’s Profile</span></div>
    <div class="e4_3"></div>
    <!-- <div class="e4_2"></div> -->
</div>
<div class=e3_87>
    <img class='refresh_icon' src="/images/refresh1.png"></img>
</div>
<div class=e4_24>
    <div class=e4_47><span class="e4_4">Name:</span>
        <div class=e4_5>
            <div class=e4_25><span class="e4_6">{{name}}</span></div>
        </div>
    </div>
    <div class=e4_49><span class="e4_4">Company:</span>
        <div class=e4_5>
            <div class=e4_25><span class="e4_6">{{company}}</span></div>
        </div>
    </div>
    <div class=e4_65><span class="e4_4">Profession:</span>
        <div class=e4_5>
            <div class=e4_25><span class="e4_6">{{profession}}</span></div>
        </div>
    </div>
    <div class=e4_70><span class="e4_4">Email Address:</span>
        <div class=e4_5>
            <div class=e4_25><span class="e4_6">{{email}}</span></div>
        </div>
    </div>
    <div class=e4_75><span class="e4_4">Phone Number:</span>
        <div class=e4_5>
            <div class=e4_25><span class="e4_6">{{phone}}</span></div>
        </div>
    </div>
</div>
<div class='e3_216'>
    <img class='avatar' src="/images/avatar.png"></img>
</div>